<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - Dojo-rails</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.base-url }}/css/syntax.css">

    <!-- Foundation CSS -->
    <link rel="stylesheet" href="{{ site.base-url }}/css/main.css" />

    </head>

    <body>

      <div id="header">
        <div class="row">
          <h4>Dojo-rails <small>- Dojo toolkit with Ruby on Rails</small></h4>
        </div>
      </div>

      <div id="container">
        <div class="row">
          {{ content }}
        </div>
      </div>

    </body>
</html>
